@model IEnumerable<WanderlustRealms.Models.Rooms.RoomArea>

@{
    ViewData["Title"] = "Index";
}

<h1>Room Areas</h1>
<h2>@ViewBag.KingdomName</h2>
<p>
    <a asp-action="Create" asp-route-RoomKingdomID="@ViewBag.RoomKingdomID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPremium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomKingdom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPremium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomKingdom.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomAreaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomAreaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomAreaID">Delete</a> |
                <a asp-action="Index" asp-route-RoomAreaID="@item.RoomAreaID" asp-controller="Rooms">Rooms</a>
            </td>
        </tr>
}
    </tbody>
</table>
