@model IEnumerable<WanderlustRealms.Models.Help.HelpItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HelpTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HelpDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HelpTerm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HelpDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HelpItemID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HelpItemID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HelpItemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
