@model WanderlustRealms.Models.Shop.Shop

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Shop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivingID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivingID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HaggleModifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HaggleModifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerBackground)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerBackground.PlayerBackgroundID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race.Description)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomKingdom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomKingdom.Description)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ShopID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
