@model WanderlustRealms.Models.Shop.Shop

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivingID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivingID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HaggleModifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HaggleModifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerBackground)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerBackground.PlayerBackgroundID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomKingdom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomKingdom.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShopID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
