@model WanderlustRealms.Models.Races.Race


@{
    ViewData["Title"] = "_StatCalculator";
    Layout = null;
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>

<div class="card border border-secondary">
    <div class="card-header">Assign Stat Points</div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                    You have  
            </div>
            <div class="col-3">
                <input class="form-control" id="currentStatPoints" value="@Model.StatPoints" readonly />
            </div>
            <div class="col-3">
                point(s) remaining.
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-1">
            <div class="col-12">
                <table class="table">
                    <tr>
                        <th>Stat</th>
                        <th>Minimum</th>
                        <th>Maximum</th>
                        <th>
                           
                        </th>
                    </tr>
                    <tr>
                        <td>Durability</td>
                        <td>
                            <input class="form-control" value="@Model.MinDur" id="min_durability" readonly />
                        </td>
                        <td>
                            <input class="form-control" value="@Model.MaxDur" id="max_durability" readonly />
                        </td>
                        <td>
                            <div class="float-right">
                                <div class="input-group">
                                    <input class="form-control border border-secondary statBlock" id="stat_durability" value="@Model.MinDur" readonly />
                                    <div class="input-group-append">
                                        <button type="button" data-id="durability" class="arrowup" ><i class="fas fa-arrow-circle-up fa-2x"></i></button>
                                        <button type="button" data-id="durability" class="arrowdown"><i class="fas fa-arrow-circle-down fa-2x"></i></button>
                                    </div>
                                </div>
                                
                            </div>
                           
                        </td>
                    </tr>
                    <tr>
                        <td>Dexterity</td>
                        <td>
                            <input class="form-control" value="@Model.MinDex" id="min_dexterity" readonly />
                        </td>
                        <td>
                            <input class="form-control" value="@Model.MaxDex" id="max_dexterity" readonly />
                        </td>
                        <td>
                            <div class="float-right">
                                <div class="input-group">
                                    <input class="form-control border border-secondary statBlock" id="stat_dexterity" readonly value="@Model.MinDex" />
                                    <div class="input-group-append">
                                        <button type="button" data-id="dexterity" class="arrowup"><i class="fas fa-arrow-circle-up fa-2x"></i></button>
                                        <button type="button" data-id="dexterity" class="arrowdown"><i class="fas fa-arrow-circle-down fa-2x"></i></button>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>Charisma</td>
                        <td>
                            <input class="form-control" value="@Model.MinCha" id="min_charisma" readonly />
                        </td>
                        <td>
                            <input class="form-control" value="@Model.MaxCha" id="max_charisma" readonly />
                        </td>
                        <td>
                            <div class="float-right">
                                <div class="input-group">
                                    <input class="form-control border border-secondary statBlock" id="stat_charisma" readonly value="@Model.MinCha"/>
                                    <div class="input-group-append">
                                        <button type="button" data-id="charisma" class="arrowup"><i class="fas fa-arrow-circle-up fa-2x"></i></button>
                                        <button type="button" data-id="charisma" class="arrowdown"><i class="fas fa-arrow-circle-down fa-2x"></i></button>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>Intellect</td>
                        <td>
                            <input class="form-control" value="@Model.MinInt" id="min_intellect" readonly />
                        </td>
                        <td>
                            <input class="form-control" value="@Model.MaxInt" id="max_intellect" readonly />
                        </td>
                        <td>
                            <div class="float-right">
                                <div class="input-group">
                                    <input class="form-control border border-secondary statBlock" id="stat_intellect" readonly value="@Model.MinInt" />
                                    <div class="input-group-append">
                                        <button type="button" data-id="intellect" class="arrowup"><i class="fas fa-arrow-circle-up fa-2x"></i></button>
                                        <button type="button" data-id="intellect" class="arrowdown"><i class="fas fa-arrow-circle-down fa-2x"></i></button>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Intuition</td>
                        <td>
                            <input class="form-control" value="@Model.MinIntuit" id="min_intuition" readonly />
                        </td>
                        <td>
                            <input class="form-control" value="@Model.MaxIntuit" id="max_intuition" readonly />
                        </td>
                        <td>
                            <div class="float-right">

                                <div class="input-group">
                                    <input class="form-control border border-secondary statBlock" id="stat_intuition" readonly value="@Model.MinIntuit" />
                                    <div class="input-group-append">
                                        <button type="button" data-id="intuition" class="arrowup"><i class="fas fa-arrow-circle-up fa-2x"></i></button>
                                        <button type="button" data-id="intuition" class="arrowdown"><i class="fas fa-arrow-circle-down fa-2x"></i></button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Willpower</td>
                        <td>
                            <input class="form-control" value="@Model.MinWill" id="min_willpower" readonly />
                        </td>
                        <td>
                            <input class="form-control" value="@Model.MaxWill" id="max_willpower" readonly />
                        </td>
                        <td>
                            <div class="float-right">
                                <div class="input-group">
                                    <input class="form-control border border-secondary statBlock" id="stat_willpower" readonly value="@Model.MinWill"/>
                                    <div class="input-group-append">
                                        <button type="button" data-id="willpower" class="arrowup"><i class="fas fa-arrow-circle-up fa-2x"></i></button>
                                        <button type="button" data-id="willpower" class="arrowdown"><i class="fas fa-arrow-circle-down fa-2x"></i></button>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        var total = @Model.StatPoints;
        var maxTotal = @Model.StatPoints;

        $(document).on('click', '.arrowup', function () {
            var stat = $(this).attr('data-id');
            var currentVal = $('#stat_' + stat).val();
            var maxStat = $("#max_" + stat).val()

            if (Number(total) > 0 && Number(currentVal) < Number(maxStat)) {
                var currentValue = $("#stat_" + stat).val();
                $("#stat_" + stat).val(Number(currentValue) + 1);
                total = total - 1;
                $("#currentStatPoints").val(Number(total));
            }
        });

        $(document).on('click', '.arrowdown', function () {
            var stat = $(this).attr('data-id');
            var currentVal = $('#stat_' + stat).val();
            var minStat = $("#min_" + stat).val()

             console.log(stat);

            if (Number(currentVal) > Number(minStat) && Number(total) < Number(maxTotal)) {
                                var currentValue = $("#stat_" + stat).val();
                $("#stat_" + stat).val(Number(currentValue) - 1);
                total = total + 1;
                $("#currentStatPoints").val(Number(total));
            }
        });

    });

</script>
