@model WanderlustRealms.Models.Training.TrainerSkill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrainerSkill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivingID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivingID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skill.SkillID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrainerSkillID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
